<div class="contact">
    <hr/>
    <a target="_blank" href="https://www.github.com/kkatrio">
        <img height="32" width="32" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" alt="GitHub" />
    </a>
    <a style="margin-left: 0.5rem" href="mailto:kokatrio@gmail.com">
        <img height="32" width="32" class="icon" src="/img/email.svg" alt="email" />
    </a>
</div>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ddc816ac25a848368e9fbd41eb8b2823"}'></script>
