<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BX72EHXT1K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BX72EHXT1K');
</script>
  <!--
  {{ range .Site.Params.custom_css}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}
  -->
  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}
</head>
