body {
    font-size: 1em;
    color: #222;
    line-height: 1.5;
    padding: 2em 0;
	font-family: 'Bitter', serif;
}
a {
	color: navy;
}
ul {
	margin: 0;
	padding-left: 20px;
}
li {
	margin: 0.2rem 0;
}
.resume {
    max-width: 50em;
    padding: 0 2em;
    margin: 0 auto;
    position: relative;
}
.section{
	overflow: hidden;
	margin-bottom: 1em;
}
.section.personal{
	margin-bottom: 4em;
}
.section.personal .name > h1{
	margin-bottom: 0.2em;
}
.section.personal .subtitle{
	font-size: 1.5em;
	color: #444;
}
.section.personal .info{
	font-size: 0.8em;
	color: #555;
	padding-top: 2em;
}

.section .title {
	float: left;
	width: 20%;
}

.section .title > h2 {
	margin: 0;
	text-align: right;
	font-weight: normal;
}

.section .entries{
	margin-left: 20%;
	padding-left: 2em;
	padding-top: 0.35em;
}

.entry {
	padding-bottom: 1rem;
}
.entry .date > h6{
	margin: 0;
	color: #888;
	line-height: 2;
	font-weight: normal;
}

.listing-title{
	font-size: 1.1em;
}

.listing-type{
	color: #444;
}

.listing-descr {
    padding: .5em 1em;
    max-width: 30em;
    color: #666;
}
.listing-descr > a {
	color: navy;
}
.listing-descr.publication {
    padding: 0;
}

.hobbies-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.hobby{
	float: left;
	padding-right: 2em;
}

@media (max-width: 60em) {
	.section .entries {
		margin-left: 0;
		padding-left: 0;
	}
	.section .title > h2 {
		text-align: left;
	}
	.section .title {
		float: none;
		width: auto;
	}
}
@media (min-width: 45em) {
	.entry .date{
		float: right;
		margin-top: -1em;
	}
	.section.personal .info{
		position: absolute;
		top: 3em;
		right: 2em;
		text-align: right;
		padding-top: 0;
	}
}
@media print {
  body { padding: 0; }
}
